.container {
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.row {
  display: flex;
  flex-direction: row;
  gap:1em;
}

.tile {
  border: var(--border-width) solid var(--color-border);
  width: 5em;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile.active {
  border: var(--border-width) solid var(--color-border-active);
}

.tile.location {
  background-color: var(--color-location);
  border: var(--border-width) solid var(--color-border-active);
}

.tile.wrong {
  background-color: var(--color-wrong);
  border: var(--border-width) solid var(--color-border-active);
}

.tile.correct {
  border: var(--border-width) solid var(--color-border-active);
  background-color: var(--color-correct);
}

.letter {
  font-size: 2.5em;
  user-select: none;
}

.keyboard {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 1em;
}

.keyboard-row {
  display:flex;
  justify-content: center;
  gap: 0.5em;
}

.key {
  cursor: pointer;
  width: 3em;
  display:flex;
  font-size: 1.2em;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  background-color: var(--color-key);
  user-select: none;
}

.key-big {
  flex: 1.25;
  aspect-ratio: 2 / 1;
}

.key.location {
  background-color: var(--color-location);
}

.key.wrong {
  background-color: var(--color-wrong);
}

.key.correct {
  background-color: var(--color-correct);
}

.key:hover {
  background-color: var(--color-key-hover);
}