.container {
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.row {
  display: flex;
  flex-direction: row;
  gap:1em;
}

.tile {
  border: 0.12em solid var(--color-border);
  width: 5em;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile.active {
  border: 0.12em solid hsl(0deg 0% 49%);
}

.tile.location {
  background-color: #ffc8008a;
  border: 0.12em solid hsl(0deg 0% 49%);
}

.tile.wrong {
  background-color: #52525273;
  border: 0.12em solid hsl(0deg 0% 49%);
}

.tile.correct {
  border: 0.12em solid hsl(0deg 0% 49%);
  background-color: #00800063;
}

.letter {
  font-size: 2.5em;
  user-select: none;
}