/* Default mode */
:root {
  font-family: 'Henny Penny', cursive;
  text-transform: uppercase;
  --body-bg: hsl(210, 17%, 82%);
  --body-color: hsl(216, 28%, 7%);
  --color-border: hsl(0, 0%, 100%);
  --color-correct: hsl(123, 68%, 55%);
  --color-contains: rgba(230,205,23,1);
  --color-wrong: rgba(80,80,80,1);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
:root {
      --body-bg: hsl(216, 28%, 7%);
      --body-color: hsl(210, 17%, 82%);
  }
}

body {
  margin: 0;
  font-family: 'Henny Penny', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-bg);
  color: var(--body-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}