/* Default mode */
:root {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  --body-bg: hsl(210, 17%, 82%);
  --body-color: hsl(216, 28%, 7%);
  --color-border: hsl(0, 0%, 100%);
  --color-correct: hsl(115, 29%, 43%);
  --color-location: hsl(49, 51%, 47%);
  --color-wrong: hsl(240, 2%, 33%);
  --color-border-active: hsl(0deg 0% 49%);
  --color-key: hsl(200, 1%, 51%);
  --color-notification-type-error: rgb(180, 34, 34);
  --color-notification-type-success: var(--color-correct);
  --color-notification-border: hsl(0, 0%, 0%);

  --border-width: 0.05em;
  
  --color-key-darkness: 0.85;
  --color-key-brightness: 1.15;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
:root {
      --body-bg: hsl(216, 28%, 7%);
      --body-color: hsl(210, 17%, 90%);
      --color-notification-border: hsl(0, 0%, 100%);
  }
}

html {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-bg);
  color: var(--body-color);
  font-size: clamp(.5rem, 2.5vmin, 1rem);
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}